body {
  background-color: #DFCAA0;
}
#omakuva {
  width: 300px;

}


h1 {
  font-size: 60px;
  padding-top: 30px;
  padding-bottom: 10px;
  background-image: url(skebatausta.jpg);
  background-size: auto;
  margin-bottom: 0px;
}
h2 {
  font-size: 60px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
h3 {
  font-size: 60px;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}
.leipä {
  font-size: 20px;
  text-align: justify;
  background: rgba(255, 255, 255, 0.5);
  padding-right: 10px;
  margin-left: 10px;
}

ul {
  list-style-type: none;
}
.footer {
  background-color: olive;
 text-align: center;

}
