body {
  background-color: #987456;

}
.container {
  background-color: #DFCAA0;

}

h1 {
  color: white;
  font-size: 60px;
  padding-top: 30px;
  padding-bottom: 10px;
  background-image: url(kitaratausta.jpg);
  background-size: auto;
  margin-bottom: 0px;
}
h2 {
  font-size: 60px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
h3 {
  font-size: 60px;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}
.leipä {
  font-size: 20px;
  text-align: justify;
  background: rgba(255, 255, 255, 0.5);
  padding-right: 10px;
  margin-left: 10px;
}

ul {
  list-style-type: none;
}
.footer {
  background-color: ;
  text-align: center;
  margin-top: 50px;
}
.linkki{
  color: brown;

}
.active{
  background-color:  #c8a480;
  border-radius: 5px;
}


.slider{
    width: 923px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
 width: 500%;
 height: 500px;
 display: flex;

}
.slides input {
  display: none;
}
.slide{
  width: 20%;
  transition: 2s;
}
.slide img{
  width: 923px;
  width: 500px;
}
.navigation-manual{
  position: absolute;
  width: 923px;
  margin-top: -40px;
  display: flex;
  justify-content: ;
}
.manual-btn{
  border: 2px solid #987456;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition:1s;
}
manual-btn:not(:last-child){
  margin-right: 40px;
}
manual-btn:hover{
  background: white;
}
#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: 0;
}
